# ignore Python cache files
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore automation progress logs and job lock files
logs/*
!logs/.gitkeep
*.lock
*.log

# ingore all chain files
chains/*
!chains/.gitkeep