# ignore Python cache files
__pycache__/
*.pyc
.ipynb_checkpoints/

# ignore automation progress logs and job lock files
logs/*
!logs/.gitkeep
*.lock
*.log

# ignore all chain files
chains/*
!chains/.gitkeep

# ignore all source files
sources/*
!sources/.gitkeep
